alembic
apprise
bcrypt
discid
Flask
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
Markdown
MarkupSafe
musicbrainzngs
netifaces
prettytable
psutil
pydvdid
PyYAML
pyudev
requests
SQLAlchemy
urllib3
waitress
Werkzeug
WTForms
xmltodict
